{% extends "jobdata/header.html" %}
<head>
	<title>Job Descriptions | Summer Research 2016</title>
	<meta charset="utf-8" />
</head>
{% block content %}

	<div class = 'container'>
		<h2 style = "color: #64706C;" ><strong>Job Descriptions</strong></h2>
	<form action="/jobsearch/" method = "get">
		<input type="text" name = "job">
		<input type="submit" value="Search">
	</form>
	<br>
	<div class="list-group" style = "border: 1px solid #64706C">
	{% for d in data %}
		<a href= "{% url 'datadetail' d.id %}" class="list-group-item">{{ d.title}}</a>
		</ul>
	{% endfor %}
	   	
	</div>
	</div>

{% endblock content %}
