{% extends "jobdata/header.html" %}
<head>
	<title>Home | Summer Research 2016</title>
	<meta charset="utf-8" />
</head>
{% block content %}
	<div class = "container">
		<h2 style = "color: #64706C;"><strong>About Career Topics</strong></h2>
		<div class = "list-group-item" >
		<p style = "color: #64706C;">Career Topics focuses on finding what 
		skills, topics and areas of study are the most valuable
		for a variety of jobs. In order to find this 			information, a total of 3,654 job listings were
		collected and then run through a topic analysis.</p>
		<p style = "color: #64706C;">Under Jobs you will find a listing of each job
		description that was gathered during this process.
		Within each job's description you will find the 
		original data collected for the job followed
		by the topics that related most to the job. By
		selecting a topic you will find all of the jobs
		related to that topic.</p>
		</div>	
		<h2 style = "color: #64706C;"><strong>Analysis Details</strong></h2>
		<ul class="list-group">
			<li class="list-group-item">Number of Topics: 100
			<li class="list-group-item">Number of Job Listings: 3654
			<li class="list-group-item">Sources: <a href= "http://whatcanidowiththismajor.com/major/majors">What Can I Do With This Major</a> (622 entries) and <a href="http://www.myplan.com/majors/what-to-do-with-a-major.php">My Plan</a> (3032 entries)
		</ul>	
		<h2><a style = "color: #64706C;" href = "data">
		<strong>View data here</strong></a></h2>
	   	
	</div>

{% endblock content %}
